.ipynb_checkpoints
.csv
/Day_003-3_read_and_write_files.ipynb
/image_open_comparison.ipynb
/Day_001_example_of_metrics.ipynb
/Day_002_first_EDA.ipynb
/Day_003-1_build_dataframe_from_scratch.ipynb
/Day_003-2_read_and_write_files.ipynb
/data
